<div class="row-fluid ">
  <div class="graybox">
    <b><%= t('.header') %></b>
    <br/>
    <%= simple_form_for @message do |f| %>
      <%= f.input :username %>
      <%= f.input :email %>
      <%= f.input :body, as: :text %>
      <%= f.button :submit, t('.send') %>
    <% end %>
  </div>
</div>
