<div class="graybox">
  <h2><%= t('.add_a_note') %></h2>
  <% if current_user.nil? %>
    <%= t('.should_be_connected') %>
  <% elsif current_user == project.user %>
    <%= t('.cannot_be_project_owner') %>
  <% else %>
    <div id="rating_container">
      <% project.tags_with_general.each do |tag| %>
        <h4><%= tag %></h4>
        <div id="new_tag_<%= tag.id %>">
          <div class="rating">
            <% 4.downto(1) do |index| %>
              <span class="star"
                data-value="<%= index %>"
                data-tag="<%= tag.id %>"
                data-url="<%= project_notes_path(project) %>"></span>
            <% end %>
            <br/>
            <br/>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
