<div id="comment_<%= comment.id %>" class="graybox">
  <h2>
    <%= comment_title_for comment %>
  </h2>
  <div>
    <%= markdown comment.message %>
    <div id="answer_<%= comment.id%>">
      <%= link_to 'Répondre', 
                  new_project_comment_path(project,
                                           ancestry: comment),
                  class: 'btn',
                  remote: true %>
    </div>
    <% if can? :destroy, comment %>
      <%= link_to 'Supprimer', 
                  project_comment_path(project, comment),
                  method: 'delete', 
                  data: { confirm: 'Êtes vous sûr?' },
                  class: 'btn btn-danger' %>
    <% end %>
  </div>
  <br/>
  <% comment.children.order(:created_at).each do |sub_comment| %>
    <%= render sub_comment, project: project %>
  <% end %>
</div>
