<div id="comment_<%= comment.id %>" class="graybox">
  <h2>
    <%= comment_title_for comment %>
  </h2>
  <div>
    <%= markdown comment.message %>
    <div id="answer_<%= comment.id%>"></div>
    <%= link_to t('.answer'),
                new_polymorphic_path([item, new_comment], ancestry: comment),
                class: 'btn',
                remote: true %>
    <% if can? :destroy, comment %>
      <%= link_to t('shared.delete'),
                  polymorphic_path([item, comment]),
                  method: 'delete',
                  data: { confirm: t('shared.are_you_sure') },
                  remote: true,
                  class: 'btn btn-danger' %>
    <% end %>
  </div>
  <br/>
  <% comment.children.order(:created_at).each do |sub_comment| %>
    <%= render sub_comment, item: item, new_comment: new_comment %>
  <% end %>
</div>
