<div <%= "id='new_root_comment'" if comment.is_root? %> class="new_comment_form_container graybox">
  <h1>Ajouter un commentaire</h1>
  <%= simple_form_for [project, comment], remote: true do |f| %>
    <% if comment.ancestry %>
      <%= f.input :ancestry,
                  input_html: { value: comment.parent_id },
                  as: :hidden %>
    <% end %>
    <%= f.input :username, required: true unless signed_in? %>
    <% if comment.is_root? %>
      <%= f.association :category,
                        collection: project.categories,
                        required: true %>
      <%= f.input :message, as: :markdown, input_html: { rows: 4 } %>
    <% else %>
      <%= f.input :message, as: :markdown, input_html: { rows: 4 }, suffix: comment.parent_id %>
    <% end %>
    <%= f.button :submit, 'Envoyer' %>
    <% unless comment.is_root? %>
      <%= link_to 'Annuler',
                  'javascript:void(0)',
                  class: 'cancel_comment btn btn-danger' %>
    <% end %>
  <% end %>
</div>
