<div class="tab-pane <%= 'active' if category_project_counter == 0 %>"
     id="<%= category_project.category%>">
  <%= markdown category_project.description %>
  <% if can? :manage, category_project %>
    <%= link_to t('shared.update'),
                edit_project_category_project_path(project,
                                                   category_project),
                class: 'btn' %>
    <% unless category_project_counter == 0 %>
      <%= link_to t('shared.delete'),
                  project_category_project_path(project,
                                                category_project),
                  method: 'delete',
                  data: { confirm: t('shared.are_you_sure') },
                  class: 'btn btn-danger' %>
    <% end %>
  <% end %>
</div>
