<div class="tab-pane <%= 'active' if category_project_counter == 0 %>"
     id="<%= category_project.category%>">
  <%= markdown category_project.description %>
  <% if can? :manage, category_project %>
    <%= link_to "Modifier",
                edit_project_category_project_path(project, 
                                                   category_project),
                class: 'btn' %>
    <% unless category_project_counter == 0 %>
      <%= link_to "Supprimer",
                  project_category_project_path(project,
                                                category_project),
                  method: 'delete',
                  data: { confirm: 'Êtes vous sûr?' },
                  class: 'btn btn-danger' %>
    <% end %>
  <% end %>
</div>
