<h2>Changer mon mot de passe</h2>

<%= simple_form_for(resource,
                    as: resource_name,
                    url: password_path(resource_name),
                    html: { method: :put }) do |f| %>
  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.input :password, required: true %>
  <%= f.input :password_confirmation, required: true %>
  <%= f.submit "Changer mon mot de passe" %>
<% end %>

<%= render "links" %>
