<div class="row-fluid">
  <div class="span12">
    <div class="graybox">
      <p><%= link_to t('.back_to_project'), project_path(@project) %></p>
      <h1><%= @actuality.title %></h1>
      <%= markdown @actuality.body %>
    </div>
  </div>
</div>
<% if can? :manager, @actuality %>
  <div class="row-fluid">
    <%= render 'actualities/form_action',
               project: @actuality.project,
               actuality: @actuality %>
  </div>
<% end %>
  <div class="row-fluid">
    <div class="span12">
      <% @actuality.root_comments.each do |comment| %>
        <%= render comment, item: @actuality, new_comment: @comment %>
      <% end %>
      <%= render 'comments/new', comment: @comment, item: @actuality %>
    </div>
  </div>
