<div class="row-fluid">
  <div class="span12">
    <div class="graybox">
      <p><%= link_to t('.back_to_project'), project_path(@project) %></p>
      <h1><%= @actuality.title %></h1>
      <%= markdown @actuality.body %>
    </div>
  </div>
</div>
<% if can? :manager, @actuality %>
  <div class="row-fluid">
    <%= render 'actualities/form_action',
               project: @project,
               actuality: @actuality %>
  </div>
<% end %>
  <div class="row-fluid">
    <div class="span12">
      <% @actuality.root_comments.each do |comment| %>
        <%= render comment,
                   project: @project,
                   actuality: @actuality,
                   new_path: new_project_actuality_comment_path(@project, @actuality, ancestry: comment),
                   destroy_path: project_actuality_comment_path(@project, @actuality, comment)
            %>
      <% end %>
      <%= render 'comments/new',
                 comment: @comment,
                 project: @project,
                 actuality: @actuality %>
    </div>
  </div>
