<div class="row-fluid">
  <div class="span12">
    <div class="graybox">
      <%= simple_form_for @search, url: {action: :index}, method: :get do |f| %>
        <%= f.input :text, label: t('.advanced_search'), required: false %>
        <%= f.input :category,
                    collection: Search::PROJECT_CATEGORIES,
                    label: t('.search_for'),
                    required: false,
                    include_blank: false %>
        <%= f.input :tag_list,
                    input_html: { data: {tags: @tags}},
                    required: false,
                    label: t('.tag_list') %>
        <%= f.button :submit, 'Go!' %>
      <% end %>
    </div>
  </div>
</div>

<% if @search.text %>
  <% if @projects.try(:any?) %>
    <% @projects.each do |project| %>
      <div class="row-fluid">
        <div class="span12">
          <div class="graybox">
            <h1><%= link_to project, project %></h1>
            <p><%= markdown(excerpt_for(project, @search.text)) %></p>
            <p><%= t('.tags') %> : <%= project.tag_list %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="row-fluid">
      <div class="span12">
        <div class="graybox">
          <%= t('.no_result') %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
