<div class="row-fluid">
  <div class="span12">
    <div class="graybox">
      <%= simple_form_for @search, url: {action: :index}, method: :get do |f| %>
        <%= f.input :text, label: t('.advanced_search'), required: false %>
        <%= f.input :category,
                    collection: Search::PROJECT_CATEGORIES,
                    label: t('.search_for'),
                    required: false,
                    include_blank: false %>
        <%= f.input :tag_list,
                    input_html: { data: {tags: @tags}},
                    required: false,
                    label: t('.tag_list') %>
        <%= f.button :submit, 'Go!' %>
      <% end %>
    </div>
  </div>
</div>

<% if @projects.try(:any?) %>
  <% @projects.each do |project| %>
    <div class="row-fluid">
      <div class="span12">
        <div class="graybox">
          <h1><%= link_to project, project %></h1>
          <p><%= markdown(excerpt_for(project, @search.text)) %></p>
          <%= t('.tags') %>
          :
          <%= raw(project.tags_with_general.map do |tag|
            stars_for(project, tag)
          end.join(", ")) %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="row-fluid">
    <div class="span12">
      <div class="graybox">
        <%= t('.no_result') %>
      </div>
    </div>
  </div>
<% end %>
