<div class="row-fluid">
  <div class="span12">
    <div class="graybox">
      <%= simple_form_for @search, url: {action: :index}, method: :get do |f| %>
        <%= f.input :text, label: t('.advanced_search'), required: false %>
        <%= f.input :category,
                    collection: Search::PROJECT_CATEGORIES,
                    label: t('.search_for'),
                    required: false,
                    include_blank: false %>
        <%= f.input :tag_list,
                    input_html: { data: {tags: @tags}},
                    required: false,
                    label: t('.tag_list') %>
        <%= f.button :submit, 'Go!' %>
      <% end %>
    </div>
  </div>
</div>

<% if @projects.try(:any?) %>
  <%= render partial: 'project_search', collection: @projects,
                      as: :project, locals: { text: @search.text } %>
<% else %>
  <div class="row-fluid">
    <div class="span12">
      <div class="graybox">
        <%= t('.no_result') %>
      </div>
    </div>
  </div>
<% end %>
