<ul class="nav nav-tabs">
  <% @project.category_projects.each_with_index do 
              |category_project, index| %>
    <li <%=raw index == 0 ? 'class="active"' : ''%>>
      <%= link_to category_project.category.label, "##{category_project.category.label}" %>
    </li>
  <% end %>
</ul>
<div class="tab-content">
  <% @project.category_projects.each_with_index do 
                |category_project, index| %>
    <div class="tab-pane <%= index == 0 ? 'active' : '' %>" 
         id="<%= category_project.category.label%>">
      <%= category_project.description %>
      <% if signed_in? && current_user == @project.user %>
        <%= link_to "Modifier",
                    edit_project_category_project_path(
                      @project, category_project),
                    class: 'btn' %>
        <%= link_to "Supprimer",
                    project_category_project_path(
                      @project, category_project),
                    method: 'delete',
                    confirm: 'Êtes vous sûr?',
                    class: 'btn btn-danger' %>
      <% end %>
    </div>
  <% end %>
</div>
<% @project.comments.each do |comment| %>
  <div id="comment_<%= comment.id %>">
    <% unless signed_in? && comment.user == current_user %>
      <%= comment.username %>
    <% end %>
    <%= comment.message %>
    <% if signed_in? && ( @project.user == current_user || 
                          comment.user == current_user) %>
      <%= link_to 'Supprimer', 
                  project_comment_path(@project, comment),
                  method: 'delete', 
                  confirm: 'Êtes vous sûr?', 
                  class: 'btn btn-danger' %>
    <% end %>
  </div>
<% end %>
<%= simple_form_for [@project, @comment] do |f| %>
  <%= f.input :username %>
  <%= f.association :category, collection: @project.categories %>
  <%= f.input :message %>
  <%= f.button :submit, 'Envoyer' %>
<% end %>
<% if signed_in? && current_user == @project.user %>
  <div class="form-actions">
    <%= link_to('Ajouter une categorie',
                new_project_category_project_path(@project),
                class: 'btn') %>
    <%= link_to "Modifier", edit_project_path(@project), class: 'btn' %>
    <%= link_to "Supprimer",
                project_path(@project),
                method: 'delete',
                confirm: 'Êtes vous sûr?',
                class: 'btn btn-danger' %>
  </div>
<% end %>
