<% page_title(@project) %>
<div id="project">
  <div class="row-fluid">
    <div class="span12">
      <div class="graybox">
        <%= project_title_for(@project) %>
        <%= render 'projects/nav_tabs' %>
        <div class="tab-content">
          <%= render @project.category_projects, project: @project %>
        </div>
        <% if current_user %>
          <br/>
          <% if current_user.follow?(@project) %>
            <%= link_to 'Arréter de suivre le projet',
                        project_project_user_follower_path(
                          @project, @project_user_follower),
                        method: :delete,
                        class: 'btn' %>
          <% else %>
            <%= link_to 'Suivre le projet',
                        project_project_user_followers_path(@project),
                        method: :post,
                        class: 'btn' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <% if can? :manage, @project %>
      <%= render 'projects/form_action', project: @project %>
    <% end %>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <%= render 'notes/index', project: @project %>
      <%= render 'notes/new', 
                 project: @project,
                 note: @note %>
    </div>
    <div class="span9">
      <%= render @project.root_comments, project: @project %>
      <%= render 'comments/new', comment: @comment, project: @project %>
    </div>
  </div>
</div>
