<% page_title(@project) %>
<% page_description(@project.description) %>
<div id="project">
  <%= render @project %>
  <% if can? :manage, @project %>
    <%= render 'projects/form_action', project: @project %>
  <% end %>
  <div class="row-fluid">
    <div class="span3">
      <% if @project.actualities.any? %>
        <div class="graybox">
          <h2><%= t('.list_actuality') %></h2>
          <% @project.actualities.each do |actuality| %>
            <p>
              <%= link_to actuality.title,
                          project_actuality_path(@project, actuality) %>
              -
              <%= actuality.created_at.strftime('%d/%m/%Y %H:%M') %>
            </p>
          <% end %>
        </div>
      <% end %>
      <div id="notes_index_container">
        <%= render 'notes/index', project: @project %>
      </div>
      <%= render 'notes/new', project: @project %>
    </div>
    <div class="span9">
      <%= render @project.root_comments,
                 local: { item: @project, new_comment: @comment } %>
      <%= render 'comments/new', comment: @comment, item: @project %>
    </div>
  </div>
</div>
