<h2>Connexion</h2>
<br/>
<%= simple_form_for(resource, 
                    as: resource_name, 
                    url: session_path(resource_name),
                    wrapper: :small
                   ) do |f| %>
  <%= f.input :login %>
  <%= f.input :password %>
  <div class='inline'>
    <%= f.label :remember_me %>
    <%= f.check_box :remember_me %>
  </div>
</p>
  <p><%= f.submit "Connexion" %></p>
<% end %>
<%= render "links" %>
