<div class="row-fluid ">
  <div class="graybox">
    <h2><%= t('.connection') %></h2>
    <br/>
    <%= simple_form_for(resource,
                        as: resource_name,
                        url: session_path(resource_name),
                       ) do |f| %>
      <%= f.input :login, required: true %>
      <%= f.input :password, required: true %>
      <%= f.input :remember_me,
        as: :boolean,
        label: false,
        inline_label: t('.remember_me') %>
      <p>
        <%= f.submit t('.connection'), class: 'btn' %>
        <%= link_to user_omniauth_authorize_path(:google_oauth2),
          data: { "no-turbolink" => true },
          class: 'btn small' do %>
          <i class="icon-google-plus icon-large"></i>
          <%= t('devise.sessions.new.sign_in_google') %>
        <% end %>
      </p>
    <% end %>
    <%= link_to t('devise.links.forgot_password'), new_user_password_path %>
  </div>
</div>
