<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= browser_title(yield(:title)) %>
    </title>
    <%= javascript_include_tag "application" %>
    <% unless Rails.env.test? %>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= csrf_meta_tags %>
      <%= analytics_init if Rails.env.production? %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script type="text/javascript">
        var uvOptions = {};
        (function() {
          var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
          uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/sb5Pwl66jG2RGorpjdSKxg.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
        })();
      </script>
    <% end %>
    <%= auto_discovery_link_tag :atom,
      feed_projects_path,
      title: I18n.t('activerecord.attributes.models.project').pluralize %>
    <%= auto_discovery_link_tag :atom,
      feed_actualities_path,
      title: I18n.t('activerecord.attributes.models.actuality').pluralize %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar"
             data-toggle="collapse"
             data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to "Code Review", root_path, class: "brand" %>
          <div class="nav-collapse">
            <ul class="nav">
              <li>
                <%= link_to t(".project_index"), projects_path %>
              </li>
              <li>
                <%= link_to t(".project_create"), new_project_path %>
              </li>
            </ul>
            <ul class='nav pull-right'>
              <li class='dropdown'>
                <a data-toggle="dropdown"
                   class="dropdown-toggle"
                   href="#">
                  <i class="icon-user"></i>
                  <%= t('.user') %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <% if user_signed_in? %>
                    <li>
                      <%= link_to t(".sign_out"),
                                  destroy_user_session_path,
                                  method: :delete %>
                    </li>
                    <li>
                      <%= link_to t("shared.update"),
                                  edit_user_registration_path(current_user) %>
                      </li>
                      <li>
                        <%= link_to t("shared.delete"),
                                    registration_path(:user),
                                    data: { confirm: "Êtes vous sûr?" },
                                    method: :delete %>
                      </li>
                  <% else %>
                    <li>
                      <%= link_to t(".sign_up"),
                                  new_user_registration_path %>
                    </li>
                    <li>
                      <%= link_to t(".sign_in"),
                                  new_user_session_path %>
                    </li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid" data-pjax-container>
        <%= alert_box("success", flash[:notice]) %>
        <%= alert_box("error", flash[:error]) %>
        <%= alert_box("alert", flash[:alert]) %>
        <%= yield %>
      </div>
    </div>
    <%= javascript_tag do %>
      <%= yield :javascripts %>
    <% end %>
  </body>
</html>
