<!DOCTYPE html>
<html>
  <head>
    <title>CommentMyProjects</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to "Comment My Projects", root_path, class: "brand" %>
          <div class="nav-collapse">
            <ul class="nav">
              <% if user_signed_in? %>
                <li><%= link_to "Deconnexion", destroy_user_session_path, method: :delete %></li>
                <li><%= link_to "Gerer mon compte", edit_user_registration_path(current_user) %></li>
              <% else %>
                <li><%= link_to "Inscription", new_user_registration_path %></li>
                <li><%= link_to "Connexion", new_user_session_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span9">
          <% if flash[:notice].present? %>
            <div class="alert alert-success">
              <%= content_tag :div, flash[:notice] %>
            </div>
          <% end %>

          <% if flash[:error].present? %>
            <div class="alert alert-error">
              <%= content_tag :div, flash[:error] %>
            </div>
          <% end %>

          <% if flash[:alert].present? %>
            <div class="alert alert-info">
              <%= content_tag :div, flash[:alert] %>
            </div>
          <% end %>
          <%= yield %>
        </div>
        <div class="span3">
        </div>
      </div>
    </div>
  </body>
</html>
